@import url('https://fonts.googleapis.com/css?family=Jua');
h1 {
	margin: auto;
	font-family: "Jua";
	font-size: 30px;
}
.container {
	
}
button {
	font-family: "Jua";
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
	margin-right: 60px;
	/*margin-bottom: 5px;*/
	width: 60px;
	height: 60px;
	background-color: #4CAF50;
	color: white;
	font-size: 30px;
	border: 1px solid #4CAF50;
	border-radius: 30px;
}
button:hover {
    background-color: white; /* Green */
    color:  #4CAF50;
}
