body {
  font: 30px "Comic Sans MS", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 300px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 100px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font: 20px "Comic Sans MS";
  font-weight: bold;
  line-height: 20px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
